@import './variables';
@import './src/styles/partials/typography';

html {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    color: $text-color;
    background-color: $bg-color;
    background: linear-gradient($bg-gradient-top, $bg-gradient-middle, $bg-gradient-bottom);
    font-size: $default-fsize;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: $blue-3;
}