$white: #ffffff;
$black: #000000;
$blue: #366492;
$blue-1: #30475e;
$blue-2: #222831;
$blue-3: #84919e;
$red: #f05454;
$grey: #e8e8e8;

$bg-gradient-top: #16161d;
$bg-gradient-middle: #1f1f3a;
$bg-gradient-bottom: #3b2f4a;
$bg-color: $bg-gradient-top;
$text-color: $blue-2;

$default-fsize: 14px;
$h1-fsize: 32px;
$h2-fsize: 30px;
$h3-fsize: 28px;
$h4-fsize: 24px;
$h5-fsize: 18px;
$h6-fsize: 16px;

$small-breakpoint: 767px;